<style>
/*html.fa-events-icons-ready {
  background-color: #9900e6;
}*/
body{
  background-color: blue
}
.imagecontainer {
    position: absolute;
    padding: 10px;
    margin-left: 750px;
    margin-top: 125px;
    min-width: 100px;
}

.imagecontainer .caption>p {
    font-family: 'Special Elite', cursive;
    /*margin-left: 250px;*/
}

.title>h1 {
    position: absolute;
    font-size: 2.5em;
    top: 50px;
    left: 200px;
    font-family: 'Special Elite', cursive;
    white-space: nowrap;
    overflow: hidden;
}
.information{
  position: absolute;
    font-family: 'Special Elite', cursive;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 700px;
}
</style>
