<style>
.imagecontainer {
    position: relative;
    min-width: 940px;
    padding: 10px;
    margin-top: 100px;
    opacity: 0.6;
}

.title>h1 {
    position: absolute;
    font-size: 4em;
    top: 100px;
    left: 250px;
    font-family: 'Special Elite', cursive;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
}

.subtitle>h2 {
    position: absolute;
    top: 160px;
    left: 455px;
    font-family: 'Special Elite', cursive;
    white-space: nowrap;
    overflow: hidden;
}

.subtitle {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-aboutme .btn>a {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
}
.btn-aboutme .btn{
    padding-bottom: 1px;
    position: absolute;
    border-radius: 5;
    /*background: rgba(255, 255, 255, .2);*/
    margin-top: 60px;
    margin-left: 1175px
}

.btn-static .btn>a {
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    font-family: 'Special Elite', cursive;
}

.btn-static .btn {
    padding-bottom: 1px;
    position: absolute;
    border-radius: 5;
    background: rgba(255, 255, 255, .2);
    margin-top: 550px;
    margin-left: 720px
}

.btn-web .btn>a {
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    color: black;
    font-family: 'Special Elite', cursive;
}

.btn-web .btn {
    padding-bottom: 1px;
    position: absolute;
    border-radius: 5;
    background: rgba(255, 255, 255, .2);
    margin-top: 550px;
    margin-left: 530px
}


/*body {
	    background-image: "url('images/RoadsideDirection.jpg')";
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment:fixed;
	    background-size: 100%;
	    /*background-color: #464646;*/


}
*/
/*body {
		background-color: transparent;
		font-family: Imprima, sans-serif;
	}*/

/*header {
		width: 100%;
		min-width: 800px;
		margin: 0 auto;
		background: #654272;
		padding: 15px 0 20px;
	}

	h1 {
		font-family: Dosis, sans-serif;
		color: #375671;
		width: 80%;
		margin: 0 auto;
		color: whitesmoke;
	}

	h2 {
		font-family: Dosis, sans-serif;
		color: #375671;
		width: 80%;
		margin: 0 auto;
		color: whitesmoke;
	}

	h3 {
		font-family: Dosis, sans-serif;
		color: #003d71
	}

	p {
		font-size: .9em;
		color: #375671;
	}

	ul {
		list-style-type: none;
		font-size: .9em;
		color: #375671;
		line-height: 1.6em;
	}

	a,
	a:visited {
		color: #003d71;
	}

	.project {
		width: 80%;
		min-width: 800px;
		height: 100%;
		margin: 35px auto;
	}

	.project:after {
		content: "";
		display: table;
		clear: both;
	}

	.project-webImage1 {
		width: 388px;
		height: 240px;
		background: white;
		float: left;
		margin-right: 20px;
		border: 2px solid #dddddd;
	}

	.project-webImage2 {
		width: 350px;
		height: 280px;
		background: white;
		float: left;
		margin-right: 20px;
		border: 2px solid #dddddd;
	}

	.project-staticImage1 {
		width: 350px;
		height: 250px;
		background: white;
		float: right;
		margin-right: 20px;
		border: 2px solid #dddddd;
	}

	.project-staticImage2 {
		width: 388px;
		height: 240px;
		background: white;
		float: right;
		margin-right: 20px;
		border: 2px solid #dddddd;
	}

	.carousel-inner > .item > img {
    margin: 0 auto;
}
	span.fa.fa-chevron-right {
		margin-top: 300px;
		color: black;
	}
	span.fa.fa-chevron-left {
		margin-top: 300px;
		color: black;
	}*/
</style>
